<div>
  <div class='arrow-up arrow-contact'></div>
  <div class='header-modal report-modal'>
    <div class='close-modal js_close_modal'></div>
    <h5>Contact opnemen</h5>
    <%= form_for @message, remote: true do |f| %>
      <%= f.text_field :name, class: 'u-full-width' %>
      <%= f.email_field :email, class: 'u-full-width' %>
      <%= f.text_area :body, class: 'u-full-width' %>
      <%= recaptcha_tags %>
      <%= f.submit 'Versturen', data: { disable_with: 'Even geduld AUB...' }, class: 'button-primary js_trigger_loading u-full-width' %>
    <% end %>
  </div>
</div>
