<div>
  <div class='arrow-up arrow-contact'></div>
  <div class='header-modal contact-modal'>
    <div class='close-modal js_close_modal'></div>
    <h5>Contact opnemen</h5>
    <%= form_for @message, remote: true do |f| %>
      <div class='icon person'>
        <%= f.text_field :name, placeholder: 'naam', class: 'u-full-width' %>
      </div>
      <div class='icon email'>
        <%= f.email_field :email, placeholder: 'email', class: 'u-full-width' %>
      </div>
      <%= f.text_area :body, placeholder: 'bericht', class: 'u-full-width' %>
      <%= recaptcha_tags %>
      <%= f.submit 'Versturen', data: { disable_with: 'Even geduld AUB...' }, class: 'button-primary js_trigger_loading u-full-width' %>
    <% end %>
  </div>
</div>
