<div>
  <div class='arrow-up arrow-register'></div>
  <div class='header-modal register-modal'>
    <div class='close-modal js_close_modal'></div>
    <h5>Registreren</h5>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class='icon email'>
        <%= f.email_field :email, autofocus: true, placeholder: 'Email adres', class: 'u-full-width', validate: '' %>
      </div>

      <% if @minimum_password_length %>
        <em>(minimaal <%= @minimum_password_length %> karakters)</em>
      <% end %>
      <div class='icon password'>
        <%= f.password_field :password, autocomplete: 'off', placeholder: 'Wachtwoord', class: 'u-full-width',
              validate: '', validate_compare: '', validate_min_length: '8' %>
      </div>
      <div class='icon password'>
        <%= f.password_field :password_confirmation, autocomplete: 'off', placeholder: 'Wachtwoord bevestiging',
              class: 'u-full-width', validate: '', validate_compare: '', validate_min_length: '8' %>
      </div>
      <div class='icon person'>
        <%= f.text_field :name, placeholder: 'Voornaam & achternaam', class: 'u-full-width' %>
      </div>
      <em>Staat en woonplaats zijn optineel</em>
      <div class='row'>
        <div class='columns eight icon house'>
          <%= f.text_field :street, placeholder: 'Straat', class: 'u-full-width' %>
        </div>
        <div class='columns four'>
          <%= f.text_field :housenumber, placeholder: 'Huis nr', class: 'u-full-width' %>
        </div>
      </div>
      <div class='icon city'>
        <%= f.text_field :town, placeholder: 'Woonplaats', class: 'u-full-width' %>
      </div>
      <%= f.submit 'Registreren', class: 'button button-primary u-full-width' %>

    <% end %>

    <%= render 'devise/shared/links' %>
  </div>
</div>
