<h5>Aanmelden</h5>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email %>
  <%= f.email_field :email, autofocus: true, class: 'u-full-width' %>

  <%= f.label :password %>
  <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %>
  <%= f.password_field :password, autocomplete: "off", class: 'u-full-width' %>

  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: "off", class: 'u-full-width' %>

  <%= f.submit "Sign up", class: 'button button-primary' %>

<% end %>

<%= render "devise/shared/links" %>
