<div class='inner'>
  <div class='container'>
    <% if current_user && current_user.community %>
      <h2>Nieuws van <%= current_user.community.name %></h2>
      <p><%= link_to 'Nieuwsbrief aanmaken', new_newsletter_path, class: 'js_modal', remote: true %></p>
    <% else %>
      <h2>Nieuws</h2>
    <% end %>

    <% @newsletters.each do |newsletter| %>
      <p>
        <%= newsletter.community.name %> -
        <%= link_to newsletter.title, newsletter %>
        (<%= newsletter.valid_from %> -
        <%= newsletter.valid_until %>)
      </p>
    <% end %>
  </div>
</div>
