<div class='inner'>
  <div class='container'>
    <h2>Gemeente nieuws</h2>
    <% if current_user && current_user.community? %>
      <p><%= link_to 'Nieuws aanmaken', new_newsletter_path, class: 'js_modal', remote: true %></p>
    <% end %>
    <%= select_tag 'gemeente', options_from_collection_for_select(@communities, :id, :name),
                               include_blank: 'Kies een gemeente',
                               class: 'js_init_select' %>

    <% @newsletters.each do |newsletter| %>
      <%= link_to newsletter_path(newsletter), class: 'no_link_style' do %>
        <div class='row newsletter-block'>
          <div class='columns three image-block'>
            <% if newsletter.community.avatar? %>
              <%= image_tag newsletter.community.avatar_url %>
            <% else %>
              <div class='community_image_name'>
                <%= newsletter.community_name %>
              </div>
            <% end %>
          </div>
          <div class='columns nine'>
            <h2><%= newsletter.title %></h2>
            <% if newsletter.body %>
              <%== newsletter.body %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= will_paginate @newsletters %>
  </div>
</div>
