<%= render 'shared/dashboard_menu' %>

<div class='inner'>
  <div class='container'>
    <div class='row'>
      <div class='columns three'>
        <%= render 'users/panels/user_image_panel', user: current_user %>
        <%= render 'users/panels/user_info_panel', user: current_user %>
      </div>
      <div class='columns nine'>
        <div class='panel'>
          <div class='panel-header'>
            <h5>Berichten</h5>
          </div>
          <div class='panel-body'>
            <% if @notifications.any? %>
              <div class='row'>
                <div class='columns nine'>
                  <strong>Berichten:</strong>
                </div>
                <div class='columns three'>
                  <strong>Datum:</strong>
                </div>
              </div>
              <% @notifications.each do |notification| %>
                <% if notification.report? %>
                  <% record_path = report_path(Report.find(notification.record_id)) %>
                <% elsif notification.news? %>
                  <% record_path = newsletter_path(Newsletter.find(notification.record_id)) %>
                <% end %>
                <div class='row notification' data-notification-id='<%= notification.id %>'>
                  <div class='columns nine'>
                    <% if !notification.record_destroyed? %>
                      <%= link_to notification.title, record_path, target: '_blank',
                                                                   data: {notification_id: notification.id},
                                                                   class: 'js_notification_read' %>
                    <% else %>
                      <%= notification.title %>
                    <% end %>
                  </div>
                  <div class='columns three'>
                    <%= notification.created_at %>
                  </div>
                  <%= link_to 'Verwijderen?', notification, method: :delete,
                                                            data: {remote: true},
                                                            class: 'js_delete_notification delete' %>
                </div>
              <% end %>

              <%= will_paginate @notifications %>
            <% else %>
              Er zijn geen nieuwe berichten!
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
