<%= render 'shared/dashboard_menu' %>

<div class='inner'>
  <div class='container'>
    <div class='row'>
      <div class='columns three'>
        <%= render 'users/panels/user_image_panel', user: current_user %>
        <%= render 'users/panels/user_info_panel', user: current_user %>
      </div>
      <div class='columns nine'>
        <div class='panel'>
          <div class='panel-header'>
            <h5>Notificaties</h5>
          </div>
          <div class='panel-body'>
            <% if @notifications %>
            <ul>
              <% @notifications.each do |notification| %>
                <% if notification.report? %>
                  <% record_path = "#{report_path(Report.find(notification.record_id))}" %>
                <% elsif notification.news? %>
                  <% record_path = "#{newsletter_path(Newsletter.find(notification.record_id))}" %>
                <% end %>

                <%= link_to record_path, data: { no_turbolink: true }  do %>
                  <li><%= notification.title %> - <%= notification.created_at %></li>
                <% end %>
              <% end %>
              <%= will_paginate @notifications %>
            </ul>
            <% else %>
              Er zijn geen nieuwe berichten!
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
