<%= render 'shared/dashboard_menu' %>

<div class='inner'>
  <div class='container'>
    <div class='row'>
      <div class='columns three'>
        <%= render 'users/panels/user_image_panel', user: current_user %>
        <%= render 'users/panels/user_info_panel', user: current_user %>
      </div>
      <div class='columns nine'>
        <div class='panel'>
          <div class='panel-header'>
            <h5>Mijn meldingen:</h5>
          </div>
          <div class='panel-body'>
            <% if @user.reports.any? %>
            <ul class='reports'>
          	   <%= render @reports %>
          	</ul>
            <% else %>
              Er zijn door u geen meldingen gedaan, <%= link_to 'Melding doen!', new_report_path, class: 'js_modal', remote: true %> van zwerf afval, kappot straatmeubilair, etc.
            <% end %>
          </div>
        </div>
        <div class='panel'>
          <div class='panel-header'>
            <h5>Meldingen mijn gemeente:</h5>
          </div>
          <div class='panel-body'>
            <% if  @user.community && @community_reports.any? %>
              <ul class='reports'>
                <%= render @community_reports %>
              </ul>
            <% else %>
              <% if @user.community %>
                De gemeente <%= @user.community_name %> heeft geen meldingen!
              <% else %>
                Meld je aan bij een gemeente: <%= link_to 'Aanmelden bij gemeente', edit_user_registration_path %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class='panel'>
          <div class='panel-header'>
            <h5>Notificaties</h5>
          </div>
          <div class='panel-body'>
            <% if @user.notifications.any? %>
            <ul>
              <% @user.notifications.limit(5).reverse.each do |notification| %>
                <li><%= notification.title %> - <%= notification.created_at %></li>
              <% end %>
            </ul>
            <% else %>
              Er zijn geen nieuwe berichten!
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
