<%= render 'shared/dashboard_menu' %>

<div class='inner'>
  <div class='container'>
    <div class='row'>
      <div class='columns three'>
        <%= render 'users/panels/user_image_panel', user: current_user %>
        <%= render 'users/panels/user_info_panel', user: current_user %>
      </div>
      <div class='columns nine'>
        <div class='panel'>
          <div class='panel-header'>
            <h5>Mijn meldingen:</h5>
          </div>
          <div class='panel-body'>
            <% if current_user.reports.any? %>
            <div class='user-reports'>
          	   <%= render current_user.reports %>
          	</div>
            <% else %>
              Er zijn door u geen meldingen gedaan, <%= link_to 'Melding doen!', new_report_path, class: 'js_modal', remote: true %> van zwerf afval, kappot straatmeubilair, etc.
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
