<%= render 'shared/dashboard_menu' %>

<div class='inner'>
  <div class='container'>
    <div class='row'>
      <div class='columns three'>
        <div class='panel'>
          <div class='panel-header image'>
            <% if current_user.avatar? %>
              <%= image_tag current_user.avatar_url, class: 'u-max-full-width' %>
            <% else %>
              <%= current_user.get_user_initials %>
            <% end %>
          </div>
          <div class='panel-body center'>
            <h3><%= @user.name || @user.email %></h3>
            <%= link_to 'Profiel bewerken', edit_user_registration_path %>
          </div>
        </div>
        <div class='panel'>
          <div class='panel-header'>
            <h5>Mijn gegevens</h5>
          </div>
          <div class='panel-body'>
            <ul class='list-items links'>
              <% if @user.name? %>
                <li>
                  Naam: <%= @user.name %>
                </li>
              <% end %>
              <li>
                Email: <%= @user.email %>
              </li>
              <% if @user.address? %>
                <li>
                  Adres: <%= @user.address %>
                </li>
              <% end %>
              <% if @user.town? %>
                <li>
                  Plaats: <%= @user.town %>
                </li>
              <% end %>
              <% if @user.community %>
                <li>
                  Mijn gemeente: <%= @user.community_name %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class='columns nine'>
        <div class='panel'>
          <div class='panel-header'>
            <h5>Mijn meldingen:</h5>
          </div>
          <div class='panel-body'>
            <% if @user.reports.any? %>
            <ul class='reports'>
          	   <%= render @reports %>
          	</ul>
            <% else %>
              Er zijn door u geen meldingen gedaan, <%= link_to 'Melding doen!', new_report_path, class: 'js_modal', remote: true %> van zwerf afval, kappot straatmeubilair, etc.
            <% end %>
          </div>
        </div>
        <div class='panel'>
          <div class='panel-header'>
            <h5>Meldingen mijn gemeente:</h5>
          </div>
          <div class='panel-body'>
            <% if @user.community.reports.any? %>
              <ul class='reports'>
                <%= render @community_reports %>
              </ul>
            <% else %>
              <% if @user.community %>
                De gemeente <%= @user.community_name %> heeft geen meldingen!
              <% else %>
              <% end %>
            <% end %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
