<div class='inner'>
  <div class='container'>
    <div class='row'>
      <h2>Gebruiker <%= @user.email %> <%= '(Gemeente beheerder)' if current_user.community %></h2>
    </div>
    <div class='row'>
      <div class='columns three side-contact'>
        <div class='contact'>
          <h3>Mijn gegevens</h3>
          <ul>
            <li>
              Naam:
            </li>
            <li>
              Email: <%= @user.email %>
            </li>
            <li>
              Adres:
            </li>
            <li>
              Plaats:
            </li>
            <% if @user.community? %>
              <li>
                Gemeente: <%= @user.community_name %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class='columns six'>
        <h3>Mijn meldingen:</h3>
        <ul class='reports'>
      	   <%= render @reports %>
      	</ul>
        <% if current_user.community? %>
          <h3>Meldingen van mijn gemeente:</h3>
          <ul class='reports'>
            <%= render @community_reports %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
