<%= render 'shared/dashboard_menu' %>

<div class='inner'>
  <div class='container'>
    <div class='row'>
      <h2>Gebruiker <%= @user.email %> <%= '(Gemeente beheerder)' if current_user.community %></h2>
    </div>
    <div class='row'>
      <div class='columns four side-contact'>
        <div class='contact'>
          <h3>Mijn gegevens</h3>
          <ul>
            <% if @user.name? %>
              <li>
                Naam: <%= @user.name %>
              </li>
            <% end %>
            <li>
              Email: <%= @user.email %>
            </li>
            <% if @user.address? %>
              <li>
                Adres: <%= @user.address %>
              </li>
            <% end %>
            <% if @user.town? %>
              <li>
                Plaats: <%= @user.town %>
              </li>
            <% end %>
            <% if @user.community? %>
              <li>
                Gemeente: <%= @user.community_name %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class='columns eight'>
        <h3>Mijn meldingen:</h3>
        <ul class='reports'>
      	   <%= render @reports %>
      	</ul>
        <% if current_user.community? %>
          <h3>Meldingen van mijn gemeente:</h3>
          <ul class='reports'>
            <%= render @community_reports %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
