<div class='dashboard-menu-bg'>
  <div class='dashboard-menu'>
    <ul>
      <% if current_user.admin? %>
        <%= render 'admin/static_pages/admin_menu' %>
      <% elsif current_user.community? %>
        <%= render 'community_admin/static_pages/community_admin_menu' %>
      <% end %>
      <li class='<%= current_page_class(reports_users_path) %>'>
        <%= link_to 'Mijn meldingen', reports_users_path %>
      </li>
      <li class='<%= current_page_class(notifications_users_path) %>'>
        <%= link_to "Berichten ( #{notifications_count(current_user.id)} )", notifications_users_path %>
      </li>
      <li class='<%= current_page_class(profile_users_path) %>'>
        <%= link_to 'Profiel', profile_users_path %>
      </li>
      <% if current_user.community? %>
        <li>
          <%= link_to 'Mijn nieuws' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
