<div class='dashboard-menu-bg'>
  <div class='dashboard-menu'>
    <ul>
      <li>
        <%= link_to 'Dashboard', nil %>
      </li>
      <li>
        <%= link_to "Berichten ( #{current_user.notifications.count} )", user_notifications_path %>
      </li>
      <li>
        <%= link_to 'Profiel', profile_path %>
      </li>
      <li>
        <%= link_to 'Mijn meldingen', user_reports_path %>
      </li>
      <% if current_user.community? %>
        <li>
          <%= link_to 'Mijn nieuws' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
