<div class='dashboard-menu-bg'>
  <div class='dashboard-menu'>
    <ul>
      <li>
        <%= link_to 'Dashboard', nil %>
      </li>
      <li>
        <%= link_to 'Berichten', nil %>
      </li>
      <li>
        <%= link_to 'Profiel', user_path(current_user) %>
      </li>
      <li>
        <%= link_to 'Mijn meldingen', nil %>
      </li>
      <% if current_user.community? %>
        <li>
          <%= link_to 'Mijn nieuws' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
