<li data-event-id="<%= event.id %>">
  <%= link_to event.title, '#', data: { id: event.id, title: event.title, lat: event.latitude, lon: event.longitude, remote: true }, class: 'event' %> (<%= event.address %>)

  <%= link_to 'Edit', edit_event_path(event.id), class: 'button js_modal',
    remote: true if user_signed_in?%>

  <%= link_to 'Delete', delete_event_path(event.id), data: { remote: true, modal_type: 'destroy', modal_element: 'events' }, class: 'button js_modal' if user_signed_in? %>
</li>
