<h1>Events</h1>

<%= link_to 'Evenement aanmaken', new_event_path, class: 'js_modal', remote: true %>

<ul class='events'>
  <% @events.each do |event| %>
    <li data-event-id="<%= event.id %>">
      <%= link_to event.title, '#', data: { lat: event.latitude, lon: event.longitude, remote: true }, class: 'event' %> (<%= event.address %>)
      <%= link_to 'Edit', edit_event_path(event.id), class: 'button js_modal', remote: true  %>
    </li>
  <% end %>
</ul>

<div id='map'></div>
<a href='#' class='reset-map'>Reset Map</a>
<%= render 'map_data', events: @events %>
