<h1>Events</h1>

<%= link_to 'Evenement aanmaken', new_event_path, class: 'js_modal', remote: true %>

<ul class='events'>
  <% @events.each do |event| %>
    <li class='event' data-lat=<%= event.latitude %> data-lon=<%= event.longitude %>>
      <%= event.title %> (<%= event.adress %>)
    </li>
  <% end %>
</ul>

<div id='map'></div>
<a href='#' class='reset-map'>Reset Map</a>
<%= render 'map_data', events: @events %>
