<div class='panel'>
  <div class='panel-header image'>
    <% if user.avatar? %>
        <%= image_tag user.avatar_url, class: 'u-max-full-width' %>
    <% else %>
    <div class='no-image center'>
      <h3>
        <%= current_user.user_initials %>
      </h3>
      <%= link_to 'Profiel foto toevoegen!', edit_user_registration_path %>
    </div>
    <% end %>
  </div>
  <div class='panel-body center'>

    <h3>
      <% if !user.name.blank? %>
        <%= user.name %>
      <% else %>
        <%= user.email %> 
      <% end %>
    </h3>
    <% if action_name == 'edit' %>
      <%= link_to 'Profiel bekijken', profile_users_path %>
    <% else %>
      <%= link_to 'Profiel bewerken', edit_user_registration_path %>
    <% end %>
  </div>
</div>
