<li class='<%= current_page_class(admin_dashboard_path) %>'>
  <%= link_to 'Admin dashboard', admin_dashboard_path %>
</li>
<li class='<%= current_page_class(admin_users_path) %>'>
  <%= link_to 'Gebruikers', admin_users_path %>
</li>
<li class='<%= current_page_class(admin_communities_path) %>'>
  <%= link_to 'Gemeentes', admin_communities_path %>
</li>
<li class='<%= current_page_class(wrong_words_path) %>'>
  <%= link_to 'Foute woorden', wrong_words_path %>
</li>
<li class='<%= current_page_class(categories_path) %>'>
  <%= link_to 'Categorieën', categories_path %>
</li>
