<li class='<%= current_page_class(community_admin_dashboard_path) %>'>
  <%= link_to 'Gemeente instellingen', community_admin_dashboard_path %>
</li>
<li class='<%= current_page_class(community_admin_users_path) %>'>
  <%= link_to 'Gemeente abonnees', community_admin_users_path %>
</li>
<li class='<%= current_page_class(community_admin_reports_path) %>'>
  <%= link_to 'Gemeente meldingen', community_admin_reports_path, data: { no_turbolink: true } %>
</li>
<li class='<%= current_page_class(community_admin_reports_path) %>'>
  <%= link_to 'Melding op locatie', community_admin_location_news_path, data: { no_turbolink: true } %>
</li>
