<h5>Gemeente dashboard <%= @community.name %></h5>

<div class='inner'>
  <div class='container'>
    <div class='row'>
      <div class='columns'>
        <div class='panel'>
          <div class='panel-header'>
            <h5>Gebruikers aangemeld bij de gemeente <%= @community.name %></h5>
          </div>
          <div class='panel-body'>
            <table class="u-full-width">
              <thead>
                <tr>
                  <th>Email</th>
                  <th>Rol</th>
                </tr>
              </thead>
              <tbody>
                <% @subscribers.each do |subscriber| %>
                  <tr>
                    <td><%= subscriber.email %></td>
                    <td>
                      <%= subscriber.role_id %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= will_paginate @subscribers %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
