<div class='side-modal'>
  <div class='modal-content'>
    <div class='close-modal js_close_modal'></div>
    <h5><%= title %></h5>

      <div class='clearfix report-modal-show' data-report-id='<%= report.id %>'>
        <% if report.image(:thumb) != nil %>
          <div class='report-image'>
            <%= image_tag report.image(:thumb), class: 'u-max-full-width' %>
          </div>
        <% end %>
        <div class='report-info clearfix'>

          <h3><%= report.title %></h3>
          <span class='date'><%= report.created_at %></span>
          <p>
            <% if report.image(:thumb) != nil %>
              <%= report.description.truncate(30, separator: ' ') %>
            <% else %>
              <%= report.description.truncate(96, separator: ' ') %>
            <% end %>
          </p>
          <div class='address'><%= report.location %></div>
        </div>
      </div>
      <p class='delete-msg'><%= text %></p>
      <a data-method="delete" data-remote='true' data-id="<%= report.id %>"
                              data-controller-name="<%= controller_route %>"
                              class="modal-confirm button"
                              href="/<%= controller_route %>/<%= report.id %>">
        Ja
      </a>
      <a href="#" class="modal-confirm button">Nee</a>
  </div>
</div>
