<div class='clearfix report-show<% if user_signed_in? && report.editable_by?(current_user) && controller_name !=  'users' %> my-report<% end %>' data-report-id='<%= report.id %>'>

  <%= link_to '', report, data: { no_turbolink: true }, class: 'goto-report', target: '_blank'  %>

  <% if report.image(:thumb) != nil %>
    <div class='report-image'>
      <%= image_tag report.image(:thumb), class: 'u-max-full-width' %>
    </div>
  <% end %>
  <div class='report-info clearfix'>
    <span class='date'><%= report.created_at %></span>
    <% if report.image(:thumb) != nil %>
      <h3><%= link_to report.category.title.truncate(16) %></h3>
      <p>
        <% if user_signed_in? && report.editable_by?(current_user) || !(@report.has_wrong_word) %>
          <%= @report.description.truncate(28) %>
        <% else %>
           Wordt niet getoond...
        <% end %>
      </p>
      <div class='address image'>
        <% if user_signed_in? && report.editable_by?(current_user) %>
          <%= report.location_detail.truncate(32) %>
        <% else %>
          <%= report.location.truncate(32) %>
        <% end %>
      </div>
      <% else %>
      <h3><%= link_to report.category.title.truncate(26) %></h3>
      <p>
        <% if user_signed_in? && report.editable_by?(current_user) || !(@report.has_wrong_word) %>
          <%= @report.description.truncate(39) %>
        <% else %>
           Wordt niet getoond...
        <% end %>
      </p>
      <div class='address'>
        <% if user_signed_in? && report.editable_by?(current_user) %>
          <%= report.location_detail.truncate(44) %>
        <% else %>
          <%= report.location.truncate(44) %>
        <% end %>
      </div>
    <% end %>

    <% if user_signed_in? %>
      <% if report.editable_by?(current_user) && controller_name !=  'users' %>
        <%= link_to 'Aanpassen', edit_report_path(report), data: {modal_type: 'edit-report', report_id: report.id , remote: true},
            class: 'report-btn fa fa-pencil-square-o js_side_modal' %>
        <%= link_to 'Verwijderen', delete_report_path(report), data: { remote: true,
                                                                modal_type: 'destroy',
                                                                modal_element: 'reports' },
                                                                class: 'report-btn fa fa-trash-o js_side_modal' %>
      <% end %>
    <% end %>
    <div class='status <%= report.status %>'>
      <div class='status-name'><%= report.setting_name_status %></div>
    </div>
  </div>
</div>
