<li class='clearfix' data-report-id="<%= report.id %>">
  <%= link_to '', report, data: { no_turbolink: true }, class: 'goto-report', target: '_blank'  %>
  <% if report.image(:thumb) != nil %>
    <div class='report-image'>
      <%= image_tag report.image(:thumb), class: 'u-max-full-width' %>
    </div>
  <% end %>
  <div class='report-info clearfix'>

    <h3>
      <%= link_to report.title, report, data: { id: report.id, no_turbolink: true },
                                              class: 'report', target: '_blank' %>
    </h3>
    <span class='date'><%= report.created_at %></span>
    <span class='address'><%= report.location %></span>
    <p>
      <% if report.image(:thumb) != nil %>
        <%= report.description.truncate(30, separator: ' ') %>
      <% else %>
        <%= report.description.truncate(96, separator: ' ') %>
      <% end %>
    </p>
    <% if user_signed_in? %>
      <% if report.editable_by?(current_user) %>
        <%= link_to 'Aanpassen', edit_report_path(report.id), class: 'fa fa-pencil-square-o js_modal', remote: true %>
        <%= link_to 'Verwijderen', delete_report_path(report.id), data: { remote: true,
                                                                modal_type: 'destroy',
                                                                modal_element: 'reports' },
                                                                class: 'fa fa-trash-o js_modal' %>
      <% end %>
    <% end %>

    <% if report.resolved_at %>
      (OPGELOST)
    <% end %>

  </div>
</li>
