<div class='side-modal'>
  <div class='modal-content'>
    <div class='close-modal js_close_modal'></div>
    <h5>Melding verwijderen?</h5>
    <div class='clearfix report-modal-show' data-report-id='<%= @report.id %>'>
      <% if @report.image(:thumb) != nil %>
        <div class='report-image'>
          <%= image_tag @report.image(:thumb), class: 'u-max-full-width' %>
        </div>
      <% end %>
      <div class='report-info clearfix'>

        <h3><%= @report.title %></h3>
        <span class='date'><%= @report.created_at %></span>
        <% if @report.image(:thumb) != nil %>
          <p>
            <%= @report.description.truncate(28) %>
          </p>
          <div class='address image'><%= @report.location.truncate(32) %></div>
          <% else %>
          <p>
            <%= @report.description.truncate(39) %>
          </p>
          <div class='address'><%= @report.location.truncate(44) %></div>
        <% end %>
      </div>
    </div>
    <div class='delete-wrap'>
      <p class='delete-msg'>Weet u het zeker?</p>
      <%= link_to 'Ja', report_path(@report.id), data: { method: 'delete',
                                                        remote: true,
                                                        id: @report.id,
                                                        controller_name: 'reports' },
                                                        class: 'modal-confirm yes' %>
      <%= link_to 'Nee', '#', class: 'modal-confirm no' %>
    </div>
  </div>
</div>
