<h5>Melding
<% if action_name == 'new' %>
  aanmaken
<% else %>
  aanpassen
<% end %>
</h5>

<%= form_for @report, html: { multipart: true, type: :html }, remote: true do |f| %>

  <div class='row'>
    <div class='six columns'>
      <%= f.label :title, 'Melding titel' %>
      <%= f.text_field :title %>
    </div>
  </div>

  <div class='row'>
    <div class='columns'>
      <%= f.label :description, 'Beschrijving' %>
      <%= f.text_area :description, class: 'u-full-width' %>
    </div>
  </div>
  <div class='row'>
    <%= f.label :address, 'Straatnaam + Huisnummer' %>
    <%= f.text_field :address, class: 'u-full-width' %>
  </div>

  <div class='row'>
    <div class='eight columns'>
      <%= f.label :town, 'Plaatsnaam' %>
      <%= f.text_field :town, class: 'u-full-width' %>
    </div>
  </div>

  <% if action_name == 'edit' %>
    <div class='row'>
      <div class='four columns'>
        <%= f.label :resolved_at, 'Opgelost op' %>
        <%= f.date_field :resolved_at, class: 'u-full-width' %>
      </div>
    </div>
  <% end %>

  <div class='row'>
    <div class='four columns'>
      <%= f.label :email, 'Email' %>
      <%= f.email_field :email, class: 'u-full-width' %>
    </div>
  </div>

  <div class='row'>
    <div class='four columns'>
      <%= f.label :image_one, 'Afbeeldingen toevoegen' %>
      <%= f.file_field :image_one %>
    </div>
  </div>

  <div class='row'>
    <%= f.submit 'Aanmaken', class: 'button-primary' %>
  </div>
<% end %>
