<div class="info-box">
  <h4><%= @report.title %></h4>
  <p>
    <%= @report.description %>
    <ul>
      <li><%= @report.community_name %></li>
      <li>Straat: <%= @report.address %></li>
      <li>Plaats: <%= @report.town %></li>
    </ul>
  </p>
</div>
