<div class='info-box'>
  <div class='close'></div>
  <div class='info'>
    <h3><%= @report.title.truncate(32) %></h3>
    <p>
      <%= @report.description.truncate(100, separator: ' ') %>
    </p>
    <div class='address'><%= @report.location %></div>
  </div>
  <div class='info-footer <%= @report.status %>'>
    <div class="marker <%= @report.status %>">
        <div class="marker-icon <%= @report.category.title %>">
        </div>
    </div>
    <div class='info-link'>
      <%= link_to '', @report, data: { no_turbolink: true }, target: '_blank', class: 'info-arrow' %>
      <%= link_to 'Melding bekijken', @report, data: { no_turbolink: true }, target: '_blank', class: 'link' %>
    </div>
  </div>
</div>
