<div class='info-box'>
  <div class='close'></div>
  <div class='info'>
    <h3><%= @report.category.title.truncate(32) %></h3>
    <p>
      <% if user_signed_in? && @report.editable_by?(current_user) ||!(@report.has_wrong_word) %>
        <%= @report.description.truncate(100, separator: ' ') %>
      <% else %>
         De beschrijving kan niet worden getoond, vanwege ongepast taal gebruik!
      <% end %>
    </p>
    <div class='address'>
      <% if user_signed_in? && @report.editable_by?(current_user) %>
        <%= @report.location_detail.truncate(120) %>
      <% else %>
        <%= @report.location.truncate(120) %>
      <% end %>
    </div>
  </div>
  <div class='info-footer <%= @report.status %>'>
    <div class="marker <%= @report.status %>">
        <div class="marker-icon <%= @report.category.icon_name %>">
        </div>
    </div>
    <div class='info-link'>
      <%= link_to '', @report, data: { no_turbolink: true }, target: '_blank', class: 'info-arrow' %>
      <%= link_to 'Melding bekijken', @report, data: { no_turbolink: true }, target: '_blank', class: 'link' %>
    </div>
  </div>
</div>
