<div id='map' class='map map-show', data-lat='<%= @report.latitude %>', data-lon='<%= @report.longitude %>' ></div>

<% if user_signed_in? %>
  <% if @report.editable_by?(current_user) %>
    <%= link_to 'Aanpassen', edit_report_path(@report), data: {modal_type: 'edit-report',
                                                        report_id: @report.id,
                                                        remote: true},
                                                        class: 'report-show-btn js_side_modal' %>
    <%= link_to 'Verwijderen', delete_report_path(@report), data: { remote: true,
                                                            modal_type: 'destroy',
                                                            modal_element: 'reports' },
                                                            class: 'report-show-btn delete js_side_modal' %>
  <% end %>
<% end %>

<div class='inner details'>
  <div class='container'>
    <div class='row'>
      <div class='columns four'>
        <h1>
          <%= @report.title %>
        </h1>
        <% if @report.image(:image_big) != nil %>
          <%= image_tag @report.image(:image_big), class: 'u-max-full-width' %>
        <% end %>
          <div class='address'>
            <% if user_signed_in? && @report.editable_by?(current_user) %>
              <%= @report.location_detail %>
            <% else %>
              <%= @report.location %>
            <% end %>
          </div>
          <p><%= @report.description %></p>
      </div>
      <div class='columns eight'>
        <div class='pano'>
          <div id='pano'>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
