<header>
  <div class='row'>
    <div class='three columns'>
      <h1>
        <%= link_to 'IkBenInwoner', root_path, class: 'logo', data: { no_turbolink: true } %>
      </h1>
      <div class='version hide-on-mobile'><%= Application::VERSION %></div>
    </div>
    <div class='nine columns'>
      <nav>
        <ul>
          <li>
            <div class='hamburger show-on-mobile'>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </li>
          <% if user_signed_in? %>
          <li  class='hide-on-mobile has-dropdown profile-link'>
            <%= link_to 'Profiel', profile_users_path %>
            <div class='profile-picture'>
              <% if current_user.avatar? %>
                <%= image_tag current_user.avatar_url(:profile_thumb) %>
              <% else %>
                <%= current_user.user_initials %>
              <% end %>
            </div>
            <ul class='dropdown'>
              <li>
                <%= link_to 'Profiel bewerken', edit_user_registration_path %>
              </li>
              <li>
                <%= link_to 'Accountinstellingen' %>
              </li>
              <li>
                <%= link_to 'Uitloggen', destroy_user_session_path, method: 'delete' %>
              </li>
            </ul>
          </li>
          <li class='hide-on-mobile has-dropdown'>
            <%= link_to 'Berichten', root_path, class: 'message icon' %>
            <ul class='dropdown'>
              <li>
                <%= link_to "Bekijk inbox ( #{ current_user.notifications.count } )", notifications_users_path %>
              </li>
              <li>
                <%= link_to 'Bekijk dashboard' %>
              </li>
            </ul>
          </li>
          <% else %>
          <li  class='hide-on-mobile'>
            <%= link_to 'Inloggen', new_user_session_path, remote: true, class: 'js_modal' %>
          </li>
          <li class='hide-on-mobile'>
            <%= link_to "Aanmelden", new_user_registration_path, remote: true, class: 'js_modal' %>
          </li>
          <% end %>
          <li class='hide-on-mobile has-dropdown'>
            <%= link_to 'Meldingen', root_path, class: 'reports icon' %>
            <ul class='dropdown'>
              <li>
                <%= link_to 'Melding aanmaken', new_report_path, class: 'js_modal', remote: true %>
              </li>
              <li>
                <%= link_to 'Mijn meldingen', root_path %>
              </li>
            </ul>
          </li>
          <li class='hide-on-mobile'>
            <%= link_to 'Nieuws', newsletters_path, class: 'news icon' %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
