<header>
  <nav>
    <ul>
      <li>
        <div class='hamburger show-on-mobile'>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </li>
      <% if user_signed_in? %>
      <li  class='hide-on-mobile has-dropdown profile-link <%= current_page_class(profile_users_path) %>'>
        <%= link_to 'Profiel', profile_users_path %>
        <div class='profile-picture'>
          <% if current_user.avatar? %>
            <%= image_tag current_user.avatar_url(:profile_thumb) %>
          <% else %>
            <%= current_user.user_initials %>
          <% end %>
        </div>
        <ul class='dropdown'>
          <li class='<%= current_page_class(edit_user_registration_path) %>'>
            <%= link_to 'Profiel bewerken', edit_user_registration_path %>
          </li>
          <li class='<%= current_page_class(profile_users_path) %>'>
            <%= link_to 'Accountinstellingen', profile_users_path %>
          </li>
          <% if current_user.admin? %>
            <li class='<%= current_page_class(admin_dashboard_path) %>'>
              <%= link_to 'Admin Dashboard', admin_dashboard_path %>
            </li>
          <% end %>
          <% if current_user.community? %>
            <li class='<%= current_page_class(community_admin_dashboard_path) %>'>
              <%= link_to 'Gemeente Dashboard', community_admin_dashboard_path %>
            </li>
          <% end %>
          <li>
            <%= link_to 'Uitloggen', destroy_user_session_path, method: 'delete' %>
          </li>
        </ul>
      </li>
      <li class='hide-on-mobile has-dropdown <%= current_page_class(notifications_users_path) %>'>
        <%= link_to 'Berichten', notifications_users_path, class: 'message icon' %>
        <ul class='dropdown'>
          <li class='<%= current_page_class(notifications_users_path) %>'>
            <%= link_to "Bekijk inbox ( #{ current_user.notifications.count } )", notifications_users_path %>
          </li>
        </ul>
      </li>
      <% else %>
      <li  class='hide-on-mobile'>
        <%= link_to 'Inloggen', new_user_session_path, remote: true, class: 'js_login_modal' %>
      </li>
      <li class='hide-on-mobile'>
        <%= link_to "Registreren", new_user_registration_path, remote: true, class: 'js_register_modal' %>
      </li>
      <% end %>
      <li class='hide-on-mobile has-dropdown <%= current_page_class(root_path) %>'>
        <% if controller_name == 'reports' && action_name == 'index'  %>
          <%= link_to 'Melding doen', new_report_path, class: 'js_modal reports-link icon', remote: true %>
        <% else %>
          <%= link_to 'Melding doen', root_path, class: 'reports-link icon', data: { no_turbolink: true } %>
        <% end %>
        <% if user_signed_in? %>
          <ul class='dropdown'>
            <li class='<%= current_page_class(reports_users_path) %>'>
              <%= link_to 'Mijn meldingen', reports_users_path %>
            </li>
          </ul>
        <% end %>
      </li>
      <li class='hide-on-mobile <%= current_page_class(newsletters_path) %>'>
        <%= link_to 'Gemeente volgen', newsletters_path, class: 'news icon' %>
      </li>
    </ul>
  </nav>
</header>
