<div class='side-menu show-on-mobile'>
  <h4>Navigatie</h4>
  <ul>
    <% if user_signed_in? %>
    <li>
      <%= link_to 'Uitloggen', destroy_user_session_path, method: 'delete', class: 'pull-right' %>
    </li>
    <li>
      <%= link_to 'Profiel', user_path(current_user), data: { no_turbolink: true } %>
    </li>
    <% else %>
    <li>
      <%= link_to 'Inloggen', new_user_session_path, remote: true, class: 'js_modal' %>
    </li>
    <li>
      <%= link_to "Aanmelden", new_user_registration_path, remote: true, class: 'js_modal' %>
    </li>
    <% end %>
    <li>
      <%= link_to 'Nieuws', newsletters_path %>
    </li>
    <li>
      <%= link_to 'Gemeentes', community_list_communities_path, class: 'js_modal', remote: true %>
    </li>
    <% if current_user && current_user.admin? %>
      <li>
        <%= link_to 'Gebruikers', users_path %>
      </li>
      <li>
        <%= link_to 'Berichten', messages_path %>
      </li>
    <% end %>
  </ul>
</div>
