<!DOCTYPE html>
<html>
  <head>
    <title>Gemeente</title>
    <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <% if Rails.env.production? %>
      <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC-CJuuFP6eSLUX1g3Osuy9HRfYtMQ6SWA&callback=initMap' async defer></script>
    <% else %>
      <script
        src='https://maps.googleapis.com/maps/api/js?libraries=places&callback=initMap' async defer>
      </script>
    <% end %>
  </head>
  <body>

    <div class='container'>
      <p class='notice'><%= notice %></p>
      <p class='alert'><%= alert %></p>
      <% if user_signed_in? %>
        <%= link_to 'Uitloggen', destroy_user_session_path, method: 'delete', class: 'pull-right' %>
      <% else %>
        <%= link_to 'Inloggen', new_user_session_path, remote: true, class: 'login pull-right js_modal' %>
      <% end %>
      <%= yield %>
    </div>

    <%= render 'shared/modal' %>

  </body>
</html>
