<!DOCTYPE html>
<html>
  <head>
    <title>IkBenInwoner</title>
    <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <% if Rails.env.production? %>
      <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC-CJuuFP6eSLUX1g3Osuy9HRfYtMQ6SWA&libraries=places&language=nl&callback=initMap' async defer></script>
    <% else %>
      <script src='https://maps.googleapis.com/maps/api/js?libraries=places&language=nl&callback=initMap' async defer></script>
    <% end %>
  </head>
  <body>

    <div class='<%= "index-" if controller_name == "reports" && action_name == "index" %>outer-wrapper'>
      <%= render 'layouts/menu' %>
      <%= render 'layouts/side_menu' %>
      <div class='notice-wrapper'>
        <%= render 'layouts/notice' %>
      </div>
      <div class='<%= "index-" if controller_name == "reports" && action_name == "index" %>wrapper'>
        <%= yield %>
      </div>

      <%= render 'shared/modal' %>
      <%= render 'shared/tutorial' %>

    <% if controller_name == 'reports' && action_name == 'index' %>
      <%= link_to 'Contact', new_message_path, remote: true, class: 'js_header_modal contact-btn', data: {modal_type: 'contact'} %>
    <% else %>
      <%= render 'layouts/footer' %>
    <% end %>
    </div>

  </body>
</html>
